{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Christian Enrique Portilla Pauca (Desarrollador Web Python / PHP / JAVA / JAVASCRIPT) https://www.christianportilla.com/"/>
    <meta name="robots" content="noindex,follow"/>
    <link rel="next" href="https://www.christianportilla.com/" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Christian Enrique Portilla Pauca (Desarrollador Web Python / PHP / JAVA / JAVASCRIPT) https://www.christianportilla.com/" />
    <meta property="og:description" content="Christian Enrique Portilla Pauca (Desarrollador Web Python / PHP / JAVA / JAVASCRIPT) https://www.christianportilla.com/" />
    <meta property="og:url" content="https://www.christianportilla.com/" />
    <meta property="og:site_name" content="https://www.christianportilla.com/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Christian Enrique Portilla Pauca (Desarrollador Web Python / PHP / JAVA / JAVASCRIPT) https://www.christianportilla.com/" />
    <meta name="twitter:title" content="Christian Enrique Portilla Pauca (Desarrollador Web Python / PHP / JAVA / JAVASCRIPT) https://www.christianportilla.com/" />
    <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.christianportilla.com\/","name":"Christian Enrique Portilla Pauca","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.christianportilla.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="https://www.christianportilla.com/" />
    <title>Christian Enrique Portilla Pauca</title>

    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/web-fonts-with-css/css/fa-solid.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/web-fonts-with-css/css/fa-brands.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/fontawesome/svg-with-js/css/fa-svg-with-js.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/videojs/dist/video-js/video-js.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/animate.css/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/socicon/css/socicon.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/owl.carousel/dist/assets/owl.carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/owl.carousel/dist/assets/owl.theme.default.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/jarallax/dist/jarallax.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/magnific-popup/dist/magnific-popup.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/superfish/dist/css/superfish.css'%}" />
    <link rel="stylesheet" href="{% static 'bower_components/MDBootstrap/css/mdb.min.css'%}" />
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:css styles/main.css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/icon.css'%}">
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
    <!-- endbuild -->

</head>
<body id="body">

    <div id="preloader"></div>

    <!--==========================
      Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
        <div class="contact-info float-left">
          <i class="fas fa-envelope">
          </i>
          <a href="mailto:admin@christianportilla.com" alt="admin@christianportilla.com" data-toggle="tooltip" data-placement="top" title="admin@christianportilla.com">
            admin@christianportilla.com
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a alt="+51 960677482" data-toggle="tooltip" data-placement="top" title="+51 960677482" href="tel:960677482">
              +51 960677482
          </a>

        </div>
        <div class="social-links float-right">
          <a class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter" href="https://www.twitter.com/xhrist14n" target="_blank">
              <i class="fab fa-twitter"></i>
          </a>
          <a class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook" href="https://www.facebook.com/xhrist14n"  target="_blank">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a class="whatsapp" data-toggle="tooltip" data-placement="top" title="WhatsApp"  target="_blank">
              <i class="fab fa-whatsapp"></i>
          </a>
          <a class="linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" href="https://www.linkedin.com/in/xhrist14n"  target="_blank">
              <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </section>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <div id="logo" class="pull-left">
                      <h1>
                        <a href="#body" class="scrollto" id="logo_name">
                          Christian Portilla
                        </a>
                      </h1>
                      <!-- Uncomment below if you prefer to use an image logo -->
                      <!-- <a href="#body"><img src="images/logo.png" alt="" title="" /></a>-->
                  </div>
              </div>
              <div class="col-sm-6">
                  <nav id="nav-menu-container">
                      <ul class="nav-menu">
                        <li class="menu-active">
                          <a href="#body">
                            Inicio
                          </a>
                        </li>
                        <li>
                            <a href="#about">
                                Acerca de Mi
                            </a>
                        </li>
                        <li >
                            <a href="#experiences">
                                Experiencias
                            </a>
                        </li>
                        <li style="display:none;">
                          <a href="#portfolio">
                            Portfolio
                          </a>
                        </li>
                        <li style="display:none;">
                          <a href="#team">
                            Team
                          </a>
                        </li>
                        <li class="menu-has-children" style="display:none;">
                          <a href="">
                            Drop Down
                          </a>
                          <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                          </ul>
                        </li>
                        <li><a href="#contact">Contacto</a></li>
                      </ul>
                  </nav><!-- #nav-menu-container -->
              </div>
          </div>



      </div>
    </header><!-- #header -->


    {% block content %}
    {% endblock %}


    <div id="whatsapp_number" data-url="51960677482"></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-65323025-1');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
    <script src="{% static 'bower_components/fontawesome/svg-with-js/js/fa-solid.min.js' %}"></script>
    <script src="{% static 'bower_components/fontawesome/svg-with-js/js/fa-brands.min.js' %}"></script>
    <script src="{% static 'bower_components/fontawesome/svg-with-js/js/fontawesome-all.min.js' %}"></script>
    <script src="{% static 'bower_components/tether/dist/js/tether.js' %}"></script>
    <script src="{% static 'bower_components/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'bower_components/videojs/dist/video-js/video.js' %}"></script>
    <script src="{% static 'bower_components/videojs-soundcloud/dist/media.soundcloud.js' %}"></script>
    <script src="{% static 'bower_components/videojs-soundcloud/dist/media.soundcloud.dev.js' %}"></script>
    <script src="{% static 'bower_components/videojs-soundcloud/dist/media.soundcloud.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/mobile-detect/mobile-detect.js' %}"></script>
    <script src="{% static 'bower_components/bootbox.js/bootbox.js' %}"></script>
    <script src="{% static 'bower_components/jssor-slider/js/jssor.slider.min.js' %}"></script>
    <script src="{% static 'bower_components/asynccss/src/asynccss.js' %}"></script>
    <script src="{% static 'bower_components/rsvp/rsvp.js' %}"></script>
    <script src="{% static 'bower_components/basket.js/dist/basket.js' %}"></script>
    <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
    <script src="{% static 'bower_components/owl.carousel/dist/owl.carousel.js' %}"></script>
    <script src="{% static 'bower_components/smoothscroll-for-websites/SmoothScroll.js' %}"></script>
    <script src="{% static 'bower_components/jQuery-viewport-checker/dist/jquery.viewportchecker.min.js' %}"></script>
    <script src="{% static 'bower_components/social-likes/dist/social-likes.min.js' %}"></script>
    <script src="{% static 'bower_components/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'bower_components/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-hoverintent/jquery.hoverIntent.js' %}"></script>
    <script src="{% static 'bower_components/superfish/dist/js/superfish.js' %}"></script>
    <script src="{% static 'bower_components/superfish/dist/js/hoverIntent.js' %}"></script>
    <script src="{% static 'bower_components/wow/dist/wow.js' %}"></script>
    <script src="{% static 'bower_components/jquery-sticky/jquery.sticky.js' %}"></script>
    <script src="{% static 'bower_components/MDBootstrap/js/mdb.min.js' %}"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="{% static 'bower_components/bootstrap/js/dist/util.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/alert.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/button.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/carousel.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/collapse.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/dropdown.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/modal.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/scrollspy.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tab.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tooltip.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/popover.js'%}"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <!-- api key  AIzaSyCqrjjpaRYTfNm4bdar7ZMTPtfrMEH4TrE -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqrjjpaRYTfNm4bdar7ZMTPtfrMEH4TrE">
    </script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <!-- endbuild -->

</body>
</html>
